.git/**
.gitignore
.vscode-test/**
.vscode-test-web/**
node_modules/**
!node_modules/balanced-match/**
!node_modules/brace-expansion/**
!node_modules/minimatch/**
!node_modules/semver/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
scripts/**
build/**
cache/**
dist/**
out/**
coverage/**
.nytrix-cache/**
*.vsix
*.vsixmanifest
npm-debug.log
npm-debug.log*
yarn-error.log*
yarn.lock
pnpm-lock.yaml
package-lock.json
Makefile

src/nytrixDebugAdapter.js
